  #stars01 {
  background: url("../img/stars01.gif");
  /*background-repeat: repeat;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: auto;*/
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: center center;
}
.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}
.navbar-toggle {
    z-index:3;
}
#torchleft {
  width: 3em;
  height: 3em;
  overflow: auto;
}

#torchright {
  width: 3em;
  height: 3em;
  overflow: auto;
}

#rsleft {
  width: 3em;
  height: 3em;
  overflow: auto;
}

#rsright {
  width: 3em;
  height: 3em;
  overflow: auto;
